<h2 class="color-primary">Page: 2</h2>
<h3>Reload the page to test the fallback</h3>

<div class="example-container">
  <button mat-stroked-button ngxBackButton>Back</button>
  <p><strong>ngxBackButton</strong>: Fallback with default (rootUrl = '/second')</p>
</div>

<mat-divider></mat-divider>

<div class="example-container">
  <button mat-stroked-button ngxBackButton="/first">Back: 1</button>
  <p><strong>ngxBackButton="/first"</strong>: Fallback to /home/first</p>
</div>

<div class="example-container">
  <button mat-flat-button color="accent" ngxBackButton="/third">Back: 3</button>
  <p><strong>ngxBackButton="/third"</strong>: Fallback to /home/third</p>
</div>

<mat-divider></mat-divider>

<div class="example-container">
  <button mat-stroked-button color="primary" routerLink="../third">Forward 3</button>
  <p><strong>routerLink="../third"</strong>: Forward third</p>
</div>
